.text-blue-650 {
  color: rgb(44, 74, 138);
}

.bg-blue-450 {
  background-color: rgb(44, 74, 137);
}

.bg-blue-550 {
  background-color: rgb(51, 74, 138);
}

.bg-blue-650 {
  background-color: rgb(43, 74, 138);
}

.bg-blue-950 {
  background-color: rgb(30, 38, 55);
}
